:root {
  --color-text: hsla(0, 0%, 20%, 1);
  --color-background: hsla(60, 17%, 90%, 1);
  --color-links: hsla(203, 5%, 48%, 1);
}

@font-face {
  font-family: CormorantGaramond-Bold;
  src: url(./assets/fonts/CormorantGaramond-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: CormorantGaramond-Italic;
  src: url(./assets/fonts/CormorantGaramond-Italic.ttf);
  font-weight: 400;
}

@font-face {
  font-family: CormorantGaramond-Regular;
  src: url(./assets/fonts/CormorantGaramond-Regular.ttf);
  font-weight: 400;
}

/* ! BASIC STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

.wrapper {
  min-height: 100vh;
  width: 1200px;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: CormorantGaramond-Regular;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: CormorantGaramond-Bold;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ! HEADER */

header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

header h1 {
  text-align: center;
  margin-bottom: 1.25rem;
}

header h1 span {
  font-size: 3rem;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid var(--color-text);
  border-top: 4px solid var(--color-text);
  padding: 0.5rem 0;
}

header nav ul li:nth-of-type(2) {
  padding-left: 3rem;
}

/* ! CONTENT SECTION */

main {
  display: flex;
}

.content-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 100px 1fr 2fr 3fr;
  gap: 1vw;
}

.content-grid h2 {
  grid-column: 1 / span 3;
  padding-left: 5vw;
  margin-top: 20px;
  font-size: 2.1875rem;
  text-align: center;
}

.content-grid .item {
  padding: 0 0.2rem;
}

.content-grid .item:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  width: 40vw;
  max-width: 400px;
}

.content-grid .item:nth-of-type(3) p {
  font-family: CormorantGaramond-Italic;
}

.content-grid .item:nth-of-type(6) {
  grid-column: 1 / 2;
}

.content-grid .item:nth-of-type(7) {
  grid-column: 2 / 3;
}
